@model List<PROGRA_PARCIAL.Models.Remesa>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />


<h2>Lista de Transacciones</h2>

<table class="table">
    <thead>
        <tr>
            <th style="text-align: center;">Remitente</th>
            <th style="text-align: center;">Destinatario</th>
            <th style="text-align: center;">País Origen</th>
            <th style="text-align: center;">País Destino</th>
            <th style="text-align: center;">Monto Enviado</th>
            <th style="text-align: center;">Tipo de Moneda Enviado</th>
            <th style="text-align: center;">Tasa de Cambio</th>
            <th style="text-align: center;">Monto Final</th>
            <th style="text-align: center;">Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var transaccion in Model)
            {
                <tr>
                    <td>@transaccion.NombreRem</td>
                    <td>@transaccion.NombreDes</td>
                    <td>@transaccion.PaisOri</td>
                    <td>@transaccion.PaisDest</td>
                    <td>@transaccion.MontoEnv</td>
                    <td>@transaccion.TipTrans</td>
                    <td>@transaccion.TasaCam</td>
                    <td>@transaccion.MontoFin</td>
                    <td>@transaccion.Estado</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" style="text-align: center;">No hay registros de transacciones disponibles.</td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center mt-4">
    <a asp-action="Create" class="btn btn-success btn-lg">Registrar Nueva Transacción</a>
</div>

